<div class="container" id = "appContainer">
  <div class="row">
    <div class="col-md-3" id = "usersContainer">

    </div>
    <div class = "col-md-9" id = "messagesContainer">

      <div class = "row">
        <div class = "col-md-12" id = "messagesDiv">
        </div>
      </div>

      <div class = "row">
        <div class = "col-md-12" id = "textField">
          <input type = "text">
          <button type = "submit">Send</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
